DROP PROCEDURE IF EXISTS dbo.CreateTables

GO

CREATE PROCEDURE dbo.CreateTables AS

DROP TABLE IF EXISTS Location
DROP TABLE IF EXISTS Vessel
DROP TABLE IF EXISTS Port
DROP TABLE IF EXISTS Country

CREATE TABLE Country (
	CountryID VARCHAR(10) PRIMARY KEY,
	Name NVARCHAR(200) NOT NULL
)

CREATE TABLE Port (
	LOCODE VARCHAR(10) PRIMARY KEY,
	Name NVARCHAR(200) NOT NULL,
	CountryID VARCHAR(10) FOREIGN KEY REFERENCES Country(CountryID) NOT NULL,
	Location GEOGRAPHY NULL,
	PhotoURL NVARCHAR(200) NULL,
	Photo VARBINARY(MAX) NULL,
	URL NVARCHAR(200) NULL
)

CREATE TABLE Vessel (
	VesselID AS CAST(CAST(IMO AS VARCHAR(10)) + '_' + CAST(MMSI AS VARCHAR(10)) AS VARCHAR(20)) PERSISTED PRIMARY KEY,
	IMO INT NULL,
	MMSI INT NULL,
	Name NVARCHAR(200) NULL,
	Type NVARCHAR(200) NULL,
	CountryID VARCHAR(10) FOREIGN KEY REFERENCES Country(CountryID) NOT NULL,
	Built INT NULL,
	GT INT NULL,
	DWT INT NULL,
	Size NVARCHAR(200) NULL,
	PhotoURL NVARCHAR(200) NULL,
	Photo VARBINARY(MAX) NULL,
	URL NVARCHAR(200) NULL
)

CREATE TABLE Location (
	ID INT PRIMARY KEY IDENTITY(1,1),
	VesselID VARCHAR(20) FOREIGN KEY REFERENCES Vessel(VesselID) NOT NULL,
	Destination NVARCHAR(200) NULL,
	Course DECIMAL(4,1) NULL,
	Speed DECIMAL(4,1) NULL,
	Location GEOGRAPHY NULL,
	LastReport DATETIME NULL,
	UpdateTime DATETIME NULL
)